* {
    box-sizing: border-box;
  /*   height and width now includes border and padding */
  }
  
  body {
    background-color:lightgray;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-areas: 
    "hdr hdr hdr"
    "hsg gamearea cntdwn"
    "csg gamearea vert-sbox"
    "rbutton gamearea vert-sbox";
    height: 95vh;
    width: auto;
  }

header{
    display: flex;
    grid-area: hdr;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

#high-weight-group{
    grid-area: hsg;
    border: solid 2px black;
    margin: auto;
    width: 50%;
    height: 50%;
}

#high-weight-label{
    border: solid 2px black;
    background-color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}
#high-weight{
    border: solid 2px black;
    background-color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
#current-weight-group{
    grid-area: csg;
    border: solid 2px black;
    margin: auto;
    width: 50%;
    height: 50%;
}
#current-weight-label{
    border: solid 2px black;
    background-color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}

#current-weight{
    border: solid 2px black;
    background-color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

#reset-button {
    grid-area: rbutton;
    border: solid 2px black;
    background-color: white;
    font-size: larger;
    font-weight: bold;
    margin: auto;
    height: 50%;
    width: 50%;
}

#game-area{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-area: gamearea;
    grid-template-areas: 
    "mes-box"
    "hor-sbox"
    "img-box";
}
#horizontal-slider-box {
    grid-area: hor-sbox;
    display: flex;
    justify-content: center;
    align-items: center;

}

#horizontal-back-bar{
    border: solid 2px black;
    background-color: white;
    height: 80px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#horizontal-left-winner-bar{
    border: solid 2px black;
    height: 80px;
    width: 80px;
    background-color: purple;
}

#horizontal-right-winner-bar{
        border: solid 2px black;
        height: 80px;
        width: 80px;
        background-color: purple;
}
#horizontal-slider{
    position: absolute;
    background-color: black;
    height: 80px;
    width: 5px;
}

#countdown{
    color: red;
    grid-area: cntdwn;
    display: flex;
    font-size: 200px;
    font-style: Bold;
    align-items: center;
    justify-content: left;
}

#vertical-slider-box {
    grid-area: vert-sbox;
    display: flex;
    justify-content: left;
    align-items: center;

}

#vertical-back-bar{
    border: solid 2px black;
    background-color: white;
    height: 400px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#vertical-winner-bar{
    border: solid 2px black;
    height: 80px;
    width: 80px;
    background-color: blue;
}
#vertical-slider{
    position: absolute;
    background-color: black;
    height: 5px;
    width: 80px;
}
#image-box{
    grid-area: img-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#message-box{
    grid-area: mes-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    justify-content: center;
}
#mobile-buttons{
    display: none;
}


@media (min-width: 600px) and (max-width: 1000px){


    #current-weight-label {
        font-size: x-small;
    }

    #high-weight-label{
        font-size: x-small;
    }
    #vertical-slider-box {
        justify-content: center;
    }
    #reset-button {
        font-size: small;
        width: 90%;
    }
    #current-weight-group{
        width: 90%;
    }
    #high-weight-group{
        width: 90%;
    }
}

@media (max-width: 600px){
    body {
        background-color:pink;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 10fr 20fr;
        grid-template-areas: 
        "hdr hdr hdr"
        "hsg csg rbutton"
        "mob-butts mob-butts mob-butts"
        "gamearea gamearea cntdwn"
        "gamearea gamearea vert-sbox"
        ;
        height: 95vh;
        width: auto;
    }
    #game-area{
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 6fr 1fr;
        grid-area: gamearea;
        grid-template-areas: 
        "hor-sbox hor-sbox"
        "img-box img-box"
        "mes-box mex-box";
    }
    header{
        font-size: 50px;
    }
    #high-weight-group{
        margin: 0;
        width: auto;
        height: auto;
    }
    #current-weight-group{
        margin: 0;
        height: auto;
        width:auto;
    }
    #reset-button {
        margin: 0;
        height: auto;
        width: auto;
    }
    #image-box{
        grid-area: img-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #message-box{
        font-size: 25px;
    }
    #countdown{
        font-size: 100px;
        justify-content: right;
    }
    #vertical-slider-box {
        justify-content: center;
    }
    img{
        max-width: 100%;
        max-height: 100%;
    }
    #mobile-buttons{
        grid-area: mob-butts;
        display: inline;
    }

}