* {
    box-sizing: border-box;
  /*   height and width now includes border and padding */
  }
  
  body {
    background-color:lightgray;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-areas: 
    "hdr hdr hdr"
    "hsg gamearea cntdwn"
    "csg gamearea vert-sbox"
    "rbutton gamearea vert-sbox";
    height: 95vh;
    width: auto;
  }

header{
    display: flex;
    grid-area: hdr;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

#high-weight-group{
    grid-area: hsg;
    border: solid 2px black;
    margin: auto;
    width: 50%;
    height: 50%;
}

#high-weight-label{
    border: solid 2px black;
    background-color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}
#high-weight{
    border: solid 2px black;
    background-color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
#current-weight-group{
    grid-area: csg;
    border: solid 2px black;
    background-color: white;
    margin: auto;
    width: 50%;
    height: 50%;
}
#current-weight-label{
    border: solid 2px black;
    background-color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}

#current-weight{
    border: solid 2px black;
    background-color: white;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

#reset-button {
    grid-area: rbutton;
    border: solid 2px black;
    background-color: white;
    font-size: larger;
    font-weight: bold;
    margin: auto;
    height: 50%;
    width: 50%;
}

#game-area{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-area: gamearea;
    grid-template-areas: 
    "mes-box"
    "hor-sbox"
    "img-box";
}
#horizontal-slider-box {
    grid-area: hor-sbox;
    display: flex;
    justify-content: center;
    align-items: center;

}

#horizontal-back-bar{
    border: solid 2px black;
    background-color: white;
    height: 80px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#horizontal-left-winner-bar{
    border: solid 2px black;
    height: 80px;
    width: 80px;
    background-color: purple;
}

#horizontal-right-winner-bar{
        border: solid 2px black;
        height: 80px;
        width: 80px;
        background-color: purple;
}
#horizontal-slider{
    position: absolute;
    background-color: black;
    height: 80px;
    width: 5px;
}

#countdown{
    color: red;
    grid-area: cntdwn;
    display: flex;
    font-size: 200px;
    font-style: Bold;
    align-items: center;
    justify-content: left;
}

#vertical-slider-box {
    grid-area: vert-sbox;
    display: flex;
    justify-content: left;
    align-items: center;

}

#vertical-back-bar{
    border: solid 2px black;
    background-color: white;
    height: 400px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#vertical-winner-bar{
    border: solid 2px black;
    height: 80px;
    width: 80px;
    background-color: blue;
}
#vertical-slider{
    position: absolute;
    background-color: black;
    height: 5px;
    width: 80px;
}
#image-box{
    grid-area: img-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
#message-box{
    grid-area: mes-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    justify-content: center;
}


