* {
    box-sizing: border-box;
  /*   height and width now includes border and padding */
  }
  
  body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-areas: 
    "hdr hdr hdr"
    "hsg gamearea vert-sbox"
    "csg gamearea vert-sbox"
    "rbutton gamearea vert-sbox";
    height: 95vh;
    width: auto;
  }

header{
    display: flex;
    grid-area: hdr;
    border: solid 2px black;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

#high-score-group{
    grid-area: hsg;
    border: solid 2px black;
    margin: 70px;
}

#high-score-label{
    border: solid 2px black;
    height: 50%;
}
#high-score{
    border: solid 2px black;
    height: 50%;
}

#current-score-group{
    grid-area: csg;
    border: solid 2px black;
    margin: 70px;
}
#current-score-label{
    border: solid 2px black;
    height: 50%;
}
#current-score{
    border: solid 2px black;
    height: 50%;
}

#reset-button {
    grid-area: rbutton;
    border: solid 2px black;
    margin: 70px;
}

#game-area{
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    grid-area: gamearea;
    border: solid 2px black;
    grid-template-areas: 
    "mes-box"
    "hor-sbox"
    "img-box";
}
#horizontal-slider-box {
    grid-area: hor-sbox;
    display: flex;
    border: solid 2px black;
    justify-content: center;
    align-items: center;

}

#horizontal-back-bar{
    border: solid 2px black;
    background-color: yellow;
    height: 80px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#horizontal-winner-bar{
    border: solid 2px black;
    height: 80px;
    width: 80px;
    background-color: red;
}
#horizontal-slider{
    position: absolute;
    background-color: black;
    height: 80px;
    width: 5px;
}

#vertical-slider-box {
    grid-area: vert-sbox;
    display: flex;
    border: solid 2px black;
    justify-content: center;
    align-items: center;

}

#vertical-back-bar{
    border: solid 2px black;
    background-color: yellow;
    height: 400px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#vertical-winner-bar{
    border: solid 2px black;
    height: 80px;
    width: 80px;
    background-color: red;
}
#vertical-slider{
    position: absolute;
    background-color: black;
    height: 5px;
    width: 80px;
}
#image-box{
    grid-area: img-box;
    display: flex;
    align-items: center;
    justify-content: center;
}



#message-box{
    grid-area: mes-box;
    border: solid 2px black;
    font-size: 30px;
    justify-content: center;
}